@font-face {
    font-family: 'bignoodletoo'; /*to use later*/
    src: url('font/bignoodletoo.ttf'); /*URL to the font*/
}

body {
    margin: 0px;
    padding: 0px;
}
.menu{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #888888;
    display:inline-block;
    vertical-align:middle;
    border:   1px solid #2f2f2f;
    border-radius: 5px; 
    
}

body {overflow-x:hidden;}
img {
    max-width: 100%

}
.button{
    vertical-align:middle;
    display:inline-block;
    width: 15px;
    height: 15px;
    background: #2f2f2f;
    padding: 3px;
    

}
.pic{
    display:inline-block;
    vertical-align:middle;
    float:right;
    background: #2f2f2f;
}
.controlPanel {
    background: rgb(26, 26, 26);
    display:inline-block;
    vertical-align:middle;
    padding: 3px;
    border-radius: 0;
    width: 100%;
    
}
input, .select{
    font-family: 'Fjalla One', sans-serif;
    user-select: none;
    vertical-align:middle;
    background: #2f2f2f;
    color: #888888;
    border: 0 ;
    padding: 0px 6px;
    /* font-family: arial; */
    font-size: 17px;
    /* border-radius: 5px; */
    margin: 0px;
    text-transform: uppercase;
    
    
}


.text{
    display:inline-block;
    vertical-align:middle;
    padding: 0px 5px;
}
.menu{
    

}
#bg{
    
}


